html, body, p {
  margin:0;
  padding:0;
  background-color:lightgrey;
}

.App {
  float:right;
  width:49%;
  right:0px;
  background-color: #61dafb;
}

.web3 {
  margin:25px;
  width: 49%;
}

button {
  width: 250px;
  border-radius:35px;
  border-width: 1px;
  border-color:blueviolet;
  color:blueviolet;
  background-color:transparent;
  font-size: calc(3 + 1vh);
  align-items: center;
  padding:8px;
  box-shadow: blueviolet 5px 5px 5px;
}

.main {
  margin: 25px;
}
